[build]
# Pick ONE of these compilation targets
# target = "thumbv6m-none-eabi"    # Cortex-M0 and Cortex-M0+
# target = "thumbv7m-none-eabi"    # Cortex-M3
target = "thumbv7em-none-eabi"   # Cortex-M4 and Cortex-M7 (no FPU)
# target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

rustflags = [
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Map=app.map",
]

[alias]
build-softdevice = "objcopy --release --bin softdevice -- softdevice.elf"
build-softdevice-bin = "objcopy --release --bin softdevice -- -O binary softdevice.bin"